/* .swiper-lg-wrap {
  width: 100%;
  max-width: 100%;
  height: 400px;
  position: relative;
  margin-top: 30px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.swiper-lg-wrap {
  width: 100%;
  height: 400px;
  margin-top: 30px;
}

.swiper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.swiper-wrapper {
  display: flex !important;
}

.swiper-slide {
  flex-shrink: 0;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}




