.swiper-lg-wrap {
  width: 100%;
  max-width: 100%;
  height: 400px; /* adjust as needed */
  position: relative;
  overflow: hidden;
  margin-top: 40px;
}

.swiper {
  width: 100%;
  height: 100%;
  position: relative !important;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}
