
.fp-page {
  display: flex;
  gap: 40px;
  max-width: 1200px;
  margin: 40px auto;
  font-family: Arial, sans-serif;
}

/* LEFT */
.fp-left {
  display: flex;
  gap: 20px;
}

.fp-thumbs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.fp-thumb {
  width: 60px;
  height: 60px;
  object-fit: contain;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 6px;
  padding: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.fp-thumb:hover {
  border-color: orangered;
  box-shadow: 0 6px 16px rgba(255,69,0,0.25);
}

/* MAIN IMAGE */
.fp-main-img-box {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 12px 30px rgba(0,0,0,0.08);
  overflow: hidden;
}

.fp-main-img {
  width: 380px;
  height: 380px;
  object-fit: contain;
  transition: transform 0.4s ease;
}

/* ZOOM LENS */
.fp-main-img-box:hover .fp-main-img {
  transform: scale(1.2);
}

/* RIGHT */
.fp-right {
  flex: 1;
  position: sticky;
  top: 20px;
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 12px 30px rgba(0,0,0,0.08);
  height: fit-content;
}

.fp-title {
  font-size: 26px;
  color: #111;
}

/* Rating */
.fp-rating {
  margin: 10px 0;
  color: #388e3c;
  font-size: 14px;
}

.fp-rating span {
  color: #555;
}

/* Price */
.fp-price {
  font-size: 30px;
  font-weight: bold;
  color: orangered;
  margin: 15px 0;
}

.fp-mrp {
  text-decoration: line-through;
  color: #777;
  font-size: 16px;
  margin-left: 10px;
}

.fp-off {
  color: #388e3c;
  font-size: 16px;
  margin-left: 10px;
}

/* Offers */
.fp-offers p {
  font-size: 14px;
  margin: 6px 0;
}

/* Buttons */
.fp-btns {
  display: flex;
  gap: 15px;
  margin: 20px 0;
}

.fp-cart {
  flex: 1;
  padding: 14px;
  background: #ff9f00;
  border: none;
  color: #fff;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
}

.fp-buy {
  flex: 1;
  padding: 14px;
  background: orangered;
  border: none;
  color: #fff;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
}

.fp-cart:hover,
.fp-buy:hover {
  opacity: 0.9;
}

/* Description */
.fp-desc h3 {
  margin-bottom: 8px;
}

.fp-desc p {
  font-size: 14px;
  line-height: 1.6;
  color: #444;
}






.fp-sizes h4 {
  margin: 15px 0 8px;
}

.size-box {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.size-btn {
  padding: 8px 14px;
  border: 1px solid #ddd;
  background: #fff;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.3s;
}

.size-btn:hover {
  border-color: orangered;
}

.size-btn.active {
  background: orangered;
  color: #fff;
  border-color: orangered;
}

.size-btn:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}



