.cart-title {
  text-align: center;
  margin: 20px 0;
}

.cart-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.cart-card {
  width: 230px;
  padding: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.cart-card img {
  height: 160px;
  object-fit: cover;
}
